# Mac OS and Debug files
.DS_Store
*.swp
*.dSYM/
*.cbp
*/cmake-build-debug/*

# CLion files
*.iml
*.xml

# Object files and executables
*.o
*.out
smallsh

# Generated text files and grading scripts
*.txt
junk*
plaintext*
*script
*result*
